# Start

In [128]:
# import library
import pandas as pd

# Data Pre-Processing

## Read original file

In [129]:
# load data Asean ICT Profile
asean_level = pd.read_excel("ASEAN ICT Skills Standard.xlsx", sheet_name="Job with Level")
asean_non_level = pd.read_excel("ASEAN ICT Skills Standard.xlsx", sheet_name="Job no Level")

In [130]:
# load data All
job = pd.read_excel("ALLmo.xlsx")

In [131]:
job

,id,title,company,description,country
0,1,IT Specialist,"Luckxay Investment Sole Co., LTD.",About the job\nRole Description\nThis is a ful...,Laos
1,2,Deputy IT Lead - Development and AI,PST.AG,About the job\nPST.AG is a premier provider of...,Laos
2,3,PeopleSoft System Developer,ALI AL ZAYER & PARTNER CO,About the job\nAli Al Zayer Co. was establishe...,Laos
3,4,PeopleSoft Campus DBA,ALI AL ZAYER & PARTNER CO,About the job\nAli Al Zayer Co. was establishe...,Laos
4,5,Technology Specialist - AI tutor,micro1,About the job\nJob Title: Technology Specialis...,Laos
...,...,...,...,...,...
4439,4440,"Conseiller.ère, support technique – Singapore ...",Caisse de dépôt et placement du Québec (CDPQ),About the job\nDevenez un actif pour la collec...,Singapore
4440,4441,Sr Customer Success Engineer/TAM,Dynatrace,About the job\nYour role at Dynatrace\n\nAs a ...,Singapore
4441,4442,Manager Application Architect,ASM,"About the job\nStep into a career with ASM, wh...",Singapore
4442,4443,Information Security Manager,BIPO,About the job\nCompany Overview:\nBIPO: Shapin...,Singapore
4443,4444,System Administrator,Focuslight Technologies,About the job\nSkills and Experience\n1. Techn...,Singapore

## Combine Column `Information` and `Description`

In [132]:
job.to_csv('combine_text.csv', index=False, encoding='utf-8-sig')
job.to_excel('combine_text.xlsx', index=False)

## Word Cloud

In [133]:
# Load Combine data
job_combine = pd.read_csv("combine_text.csv")

In [134]:
job_combine

,id,title,company,description,country
0,1,IT Specialist,"Luckxay Investment Sole Co., LTD.",About the job\nRole Description\nThis is a ful...,Laos
1,2,Deputy IT Lead - Development and AI,PST.AG,About the job\nPST.AG is a premier provider of...,Laos
2,3,PeopleSoft System Developer,ALI AL ZAYER & PARTNER CO,About the job\nAli Al Zayer Co. was establishe...,Laos
3,4,PeopleSoft Campus DBA,ALI AL ZAYER & PARTNER CO,About the job\nAli Al Zayer Co. was establishe...,Laos
4,5,Technology Specialist - AI tutor,micro1,About the job\nJob Title: Technology Specialis...,Laos
...,...,...,...,...,...
4439,4440,"Conseiller.ère, support technique – Singapore ...",Caisse de dépôt et placement du Québec (CDPQ),About the job\nDevenez un actif pour la collec...,Singapore
4440,4441,Sr Customer Success Engineer/TAM,Dynatrace,About the job\nYour role at Dynatrace\n\nAs a ...,Singapore
4441,4442,Manager Application Architect,ASM,"About the job\nStep into a career with ASM, wh...",Singapore
4442,4443,Information Security Manager,BIPO,About the job\nCompany Overview:\nBIPO: Shapin...,Singapore
4443,4444,System Administrator,Focuslight Technologies,About the job\nSkills and Experience\n1. Techn...,Singapore

## Remove stop word

In [135]:
import nltk
import re
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/guide/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [136]:
def clean_text(text):
    if text == 'text not found':
      return text

    text = re.sub(r'[^a-zA-Z\s]', '', text)

    text = text.lower()

    stop_words = set(stopwords.words('english'))
    words = text.split()
    cleaned_words = [word for word in words if word not in stop_words]

    return ' '.join(cleaned_words)

In [137]:
print(job_combine.columns)
job_combine

Index(['id', 'title', 'company', 'description', 'country'], dtype='object')

,id,title,company,description,country
0,1,IT Specialist,"Luckxay Investment Sole Co., LTD.",About the job\nRole Description\nThis is a ful...,Laos
1,2,Deputy IT Lead - Development and AI,PST.AG,About the job\nPST.AG is a premier provider of...,Laos
2,3,PeopleSoft System Developer,ALI AL ZAYER & PARTNER CO,About the job\nAli Al Zayer Co. was establishe...,Laos
3,4,PeopleSoft Campus DBA,ALI AL ZAYER & PARTNER CO,About the job\nAli Al Zayer Co. was establishe...,Laos
4,5,Technology Specialist - AI tutor,micro1,About the job\nJob Title: Technology Specialis...,Laos
...,...,...,...,...,...
4439,4440,"Conseiller.ère, support technique – Singapore ...",Caisse de dépôt et placement du Québec (CDPQ),About the job\nDevenez un actif pour la collec...,Singapore
4440,4441,Sr Customer Success Engineer/TAM,Dynatrace,About the job\nYour role at Dynatrace\n\nAs a ...,Singapore
4441,4442,Manager Application Architect,ASM,"About the job\nStep into a career with ASM, wh...",Singapore
4442,4443,Information Security Manager,BIPO,About the job\nCompany Overview:\nBIPO: Shapin...,Singapore
4443,4444,System Administrator,Focuslight Technologies,About the job\nSkills and Experience\n1. Techn...,Singapore

In [138]:
job_combine['description'] = job_combine['description'].apply(clean_text)

In [139]:
job_combine

,id,title,company,description,country
0,1,IT Specialist,"Luckxay Investment Sole Co., LTD.",job role description fulltime onsite role spec...,Laos
1,2,Deputy IT Lead - Development and AI,PST.AG,job pstag premier provider bespoke data softwa...,Laos
2,3,PeopleSoft System Developer,ALI AL ZAYER & PARTNER CO,job ali al zayer co established year focus wor...,Laos
3,4,PeopleSoft Campus DBA,ALI AL ZAYER & PARTNER CO,job ali al zayer co established year focus wor...,Laos
4,5,Technology Specialist - AI tutor,micro1,job job title technology specialist ai tutor j...,Laos
...,...,...,...,...,...
4439,4440,"Conseiller.ère, support technique – Singapore ...",Caisse de dépôt et placement du Québec (CDPQ),job devenez un actif pour la collectivit faite...,Singapore
4440,4441,Sr Customer Success Engineer/TAM,Dynatrace,job role dynatrace senior customer success eng...,Singapore
4441,4442,Manager Application Architect,ASM,job step career asm cutting edge technology me...,Singapore
4442,4443,Information Security Manager,BIPO,job company overview bipo shaping future hr in...,Singapore
4443,4444,System Administrator,Focuslight Technologies,job skills experience technical skills knowled...,Singapore

In [140]:
asean_level

,Job Group,Job Detail,Level,Definition
0,Software Development,Business Analysis,3,Has ability to manage one or more team in comm...
1,Software Development,Business Analysis,2,Has ability to supervise a team in communicati...
2,Software Development,Business Analysis,1,"Under supervision of senior analysts, has abil..."
3,Software Development,System analysis,3,Has ability to manage one or more team in perf...
4,Software Development,System analysis,2,Has ability to supervise a team in performing ...
...,...,...,...,...
136,Internet of Things (IoT),IoT System Tester,2,"Given a set of business requirements, details ..."
137,Internet of Things (IoT),IoT System Tester,1,"Given a set of business requirements, details ..."
138,Internet of Things (IoT),IoT System Engineer,3,"Given a set of business requirements, details ..."
139,Internet of Things (IoT),IoT System Engineer,2,"Given a set of business requirements, details ..."
140,Internet of Things (IoT),IoT System Engineer,1,"Given a set of business requirements, details ..."

## Cosine Similarity

In [143]:
print(asean_level.columns)
print(job_combine.columns)

Index(['Job Group', 'Job Detail', 'Level', 'Definition'], dtype='object')
Index(['id', 'title', 'company', 'description', 'country'], dtype='object')

In [145]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np


# Define the calculate_similarity function
def calculate_similarity(standard_jobs_df, new_jobs_df):
    # Combine job descriptions from both datasets
    all_jobs = standard_jobs_df['Level'].tolist() + new_jobs_df['description'].tolist()

    # Vectorize the job descriptions
    vectorizer = TfidfVectorizer()
    tfidf_matrix = vectorizer.fit_transform(all_jobs)

    # Separate the datasets by their counts
    standard_jobs_count = len(standard_jobs_df)
    new_jobs_count = len(new_jobs_df)

    # Calculate cosine similarity
    similarity_scores = cosine_similarity(tfidf_matrix[standard_jobs_count:], tfidf_matrix[:standard_jobs_count])

    # Normalize the scores to percentage
    normalized_scores = similarity_scores / np.sum(similarity_scores, axis=1)[:, np.newaxis] * 100

    return normalized_scores

# Calculate similarity between 'Level' in asean_level and 'description' in job_combine
similarities = calculate_similarity(asean_level, job_combine)

# Display the similarity scores
print(similarities)

AttributeError: 'int' object has no attribute 'lower'

In [ ]:
similarities = calculate_similarity(eu_role, job_role)

KeyError: 'asean_level'

In [69]:
job_role.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4223 entries, 0 to 4222
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NO               4223 non-null   object
 1   Job name         4223 non-null   object
 2   Country          4223 non-null   object
 3   job_description  4223 non-null   object
dtypes: object(4)
memory usage: 132.1+ KB

In [70]:
# สร้าง MultiIndex
multi_index = pd.MultiIndex.from_arrays([job_role['NO'], job_role['Job name'], job_role['Country'], job_role['job_description']],
                                        names=['NO', 'Job name', 'Country','job_description'])

# สร้างตารางผลลัพธ์
result_df = pd.DataFrame(
    similarities,
    columns=eu_role['profile_title'],
    index=multi_index
)

# รีเซ็ต index เพื่อทำให้ 'Job name' และ 'job_description' กลายเป็นคอลัมน์
result_df = result_df.reset_index()

In [71]:
result_df.to_excel("role_profile_match_V2.xlsx", index=False)